#home {
  background-image: url("../../assets/img/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Fira Code", monospace;
  color: #064d4d;
}

#home > div {
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#title h1 {
  animation: h1-anime 2s;
}

#title span {
  animation: span-anime 2s;
}

@keyframes h1-anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes span-anime {
  0% {
    background-color: transparent;
    transform: translateX(-500px);
  }
  95% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

#title span {
  background-color: #064d4d;
  padding: 5px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 1.5rem;
  font-style: italic;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 225px;
  background: none;
  padding: 10px 20px;
  border: 2px solid #064d4d;
  border-radius: 15px;
  color: #064d4d;
  font-size: 1.2rem;
  transition: 0.6ms;
}

button .icon {
  transition: 0.2s ease-in;
}

button:hover {
  background-color: #064d4d;
  color: #ffffff;
}

button:focus {
  outline: none;
}

button:hover .icon {
  transform: rotate(90deg);
}

#about .profile {
  display: flex;
  align-items: center;
  padding: 5px;
}

.profile-img {
  background-color: #ffffff;
  padding: 10px 10px 25px;
  color: #000;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 60px 5px;
  box-shadow: -15px 10px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(-5deg);
}

.profile-img img {
  max-width: 275px;
  max-height: 275px;
}

.post-it-box {
  display: flex;
  margin-left: 10px;
}

.post-it-box div {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  color: #000;
  text-align: center;
  margin: 10px;
}

.post-it-box div img {
  top: -35px;
  left: 100px;
  position: absolute;
  width: 75px;
  height: 75px;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 5px;
}

.profile-description {
  background-color: #064d4d;
  margin: auto;
  border: 3px solid #fff;
  padding: 45px 0;
}

.profile-description p {
  background-color: #064d4d;
  text-align: center;
  margin: 0 -5px 0 -5px;
  padding: 10px;
  max-width: 700px;
  font-size: 1.8rem;
}

#technologies-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  #home {
    background-image: url("../../assets/img/background-mobile.jpeg");
  }

  #title span {
    font-size: 1.2rem;
  }

  #technologies-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  #title {
    flex-direction: column;
  }

  #about img {
    margin-top: 10px;
  }

  #about .profile {
    flex-direction: column;
  }

  #about .profile p {
    font-size: 1.4rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #title {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
}
