:root {
  --primary-color: #064d4d;
  --title-color: #064d4d;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #ffffff;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 480px) {
  .container {
    max-width: 460px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 970;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
